
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f6f2;
  font-family: "Poppins", sans-serif;
  color: #2b2b2b;
  overflow-x: hidden;
}

.landing-page {
  width: 100%;
  overflow-x: hidden;
  background: #f7f6f2;
}

.hero {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  padding: 70px 6%;
}

.hero-left,
.hero-right {
  width: 50%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left h1 {
  font-size: 72px;
  line-height: 1.1;
  color: #5c7b68;
  margin-bottom: 40px;
  font-weight: 700;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 35px;
}

.profile-box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6d8b74;
}

.profile-box p {
  max-width: 460px;
  font-size: 15px;
  line-height: 1.8;
  color: #555;
}

.hero-left button {
  width: fit-content;

  background: #d1bea0;
  border: none;

  padding: 18px 38px;
  border-radius: 10px;

  color: #5c7b68;
  font-weight: 600;
  font-size: 14px;

  cursor: pointer;
  transition: 0.3s;

  margin-bottom: 28px;
}

.hero-left button:hover {
  opacity: 0.9;
}

.hero-caption {
  display: block;
  margin-bottom: 40px;
  color: #666;
  font-size: 14px;
}

.brands {
  display: flex;
  align-items: center;
  gap: 45px;

  color: #555;
  font-weight: 600;
  font-size: 18px;
}

.hero-right {
  position: relative;
}

.hero-right img {
  width: 100%;
  height: 720px;

  object-fit: cover;
  border-radius: 14px;
}

.floating-cards {
  position: absolute;

  left: -45px;
  top: 190px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.service-card {
  background: #6d8b74;
  color: white;

  padding: 20px 28px;

  border-radius: 10px;
  min-width: 280px;

  font-size: 15px;
  font-weight: 500;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.about {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

  padding: 100px 6%;
}

.about-image,
.about-content {
  width: 47%;
}

.about-image {
  position: relative;
}

.about-image img {
  width: 100%;
  height: 580px;

  object-fit: cover;
  border-radius: 14px;
}

.mini-card {
  position: absolute;

  background: #6d8b74;
  color: white;

  border-radius: 14px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.mini-card.top {
  bottom: 150px;
  right: 45px;

  padding: 18px 51px;

  font-size: 14px;
  font-weight: 500;
}

.mini-card.professionals {
  bottom: -90px;
  right: 45px;

  width: 320px;
  padding: 10px;
}

.professional {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 5px 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.professional:last-child {
  border-bottom: none;
}

.professional img {
  width: 54px;
  height: 54px;

  border-radius: 50%;
  object-fit: cover;
}

.professional h4 {
  font-size: 14px;
  font-weight: 500;
}

.professional p {
  font-size: 12px;
  opacity: 0.8;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  width: fit-content;

  background: #d8c8ab;
  color: #5c7b68;

  padding: 10px 20px;
  border-radius: 40px;

  font-size: 13px;
  font-weight: 600;

  margin-bottom: 28px;
}

.about-content h2 {
  font-size: 54px;
  line-height: 1.2;

  color: #5c7b68;

  margin-bottom: 28px;
}

.about-content p {
  color: #555;
  line-height: 1.9;
  font-size: 15px;

  margin-bottom: 40px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.accordion-item {
  background: #6d8b74;
  border-radius: 10px;
  overflow: hidden;
}

.accordion-header {
  padding: 22px;

  color: white;
  font-weight: 500;
  font-size: 16px;
}

.accordion-content {
  padding: 0 22px 24px;

  color: rgba(255, 255, 255, 0.9);
  line-height: 1.8;
  font-size: 14px;
}

@media (max-width: 1100px) {
  .hero,
  .about {
    flex-direction: column;
    padding: 70px 5%;
  }

  .hero-left,
  .hero-right,
  .about-image,
  .about-content {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 54px;
  }

  .about-content h2 {
    font-size: 42px;
  }

  .floating-cards {
    position: relative;
    left: 0;
    top: -40px;
  }

  .mini-card.top,
  .mini-card.professionals {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .hero-left h1 {
    font-size: 42px;
  }

  .about-content h2 {
    font-size: 34px;
  }

  .hero-right img,
  .about-image img {
    height: 500px;
  }

  .brands {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .service-card {
    min-width: 100%;
  }

  .mini-card.professionals {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero,
  .about {
    padding: 50px 20px;
  }

  .hero-left h1 {
    font-size: 34px;
  }

  .about-content h2 {
    font-size: 28px;
  }

  .profile-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .floating-cards {
    gap: 12px;
  }

  .service-card {
    padding: 16px 20px;
  }
}

.services-section {
  width: 100%;
  padding: 80px 6%;
  background: #f7f6f2;
}

.services-hero {
  position: relative;
  width: 100%;
  height: 540px;
  border-radius: 18px;
  overflow: visible;
  margin-bottom: 140px;
}

.services-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.services-overlay {
  position: absolute;
  left: 0;
  bottom: -90px;
  width: 52%;
  min-height: 320px;
  background: #6d8b74;
  padding: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}

.services-overlay button {
  border: none;
  background: white;

  padding: 12px 24px;
  border-radius: 40px;

  font-size: 12px;
  font-weight: 600;

  margin-bottom: 24px;
  cursor: pointer;
}

.services-overlay h2 {
  font-size: 48px;
  line-height: 1.2;
  color: white;

  margin-bottom: 20px;
}

.services-overlay p {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.8;
  max-width: 520px;
}

.service-grid {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.service-box {
  background: white;
  padding: 30px;
  border-radius: 14px;

  transition: 0.3s;
}

.service-box:hover {
  transform: translateY(-6px);
}

.service-box span {
  
  background-color: #E1FFEB;
  font-size: 16px;
  font-weight: 600;
}

.service-box h3 {
  margin: 14px 0 8px;
  color: #5c7b68;
  font-size: 24px;
}

.service-box small {
  color: #999;
  display: block;
  margin-bottom: 18px;
}

.service-box p {
  line-height: 1.8;
  color: #666;
  font-size: 14px;
}

.testimonial-section {
  width: 100%;
  padding: 100px 6%;
  background: #f9f9f7;
}

.testimonial-header {
  text-align: center;
  margin-bottom: 50px;
}

.testimonial-header span {
  display: inline-block;

  background: #6d8b74;
  color: white;

  padding: 10px 22px;
  border-radius: 30px;

  font-size: 12px;
  font-weight: 600;

  margin-bottom: 24px;
}

.testimonial-header h2 {
  font-size: 48px;
  line-height: 1.3;
  color: #243b53;
}

.testimonial-banner {
  position: relative;
  width: 100;
  height: 620px;
  margin-left: -50vw;
    margin-right: -50vw;
 
}

.testimonial-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90px;
  height: 90px;

  background: #dff3db;
  color: #5c7b68;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  cursor: pointer;
}

.testimonial-card {
  width: 88%;

  margin: -140px auto 0;

  background: #cfbc9c;

  border-radius: 18px;

  padding: 50px;

  display: flex;
  gap: 50px;

  position: relative;
  z-index: 10;
}

.stats-card {
  width: 320px;

  background: #112d4e;
  color: white;

  border-radius: 16px;

  padding: 35px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.stat {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 20px;
}

.stat:last-child {
  border-bottom: none;
}

.stat h3 {
  font-size: 38px;
  margin-bottom: 6px;
}

.stat p {
  opacity: 0.8;
  font-size: 14px;
}

.testimonial-list {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.testimonial-item h4 {
  font-size: 24px;
  line-height: 1.4;
  color: #2f2f2f;

  margin-bottom: 22px;
}

.user {
  display: flex;
  align-items: center;
  gap: 14px;
}

.user img {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  object-fit: cover;
}

.user strong {
  display: block;
  font-size: 15px;
}

.user span {
  color: #666;
  font-size: 13px;
}

.testimonial-btn {
  width: fit-content;

  background: #6d8b74;
  color: white;

  border: none;
  padding: 16px 28px;

  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .services-overlay {
    width: 100%;
    height: auto;
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-card {
    flex-direction: column;
    width: 100%;
  }

  .stats-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services-overlay {
    padding: 30px;
  }

  .services-overlay h2 {
    font-size: 34px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-header h2 {
    font-size: 34px;
  }

  .testimonial-list {
    grid-template-columns: 1fr;
  }

  .testimonial-card {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .services-section,
  .testimonial-section {
    padding: 60px 20px;
  }

  .services-overlay h2 {
    font-size: 28px;
  }

  .testimonial-header h2 {
    font-size: 28px;
  }

  .play-button {
    width: 70px;
    height: 70px;
    font-size: 28px;
  }
}

.method-section {
  width: 100%;
  padding: 100px 6%;

  background: #cfbc9c;

  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.method-left,
.method-right {
  width: 50%;
}

.section-tag {
  display: inline-block;

  background: #6d8b74;
  color: white;

  padding: 10px 22px;
  border-radius: 30px;

  font-size: 12px;
  font-weight: 600;

  margin-bottom: 24px;
}

.method-left h2 {
  font-size: 52px;
  line-height: 1.2;

  margin-bottom: 24px;
  color: #111;
}

.method-left p {
  color: #333;
  line-height: 1.8;

  max-width: 520px;
  margin-bottom: 40px;
}

.method-video {
  position: relative;
  width: 100%;
  max-width: 520px;

  border-radius: 16px;
  overflow: hidden;
}

.method-video img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;

  background: #0f2d4d;

  padding: 20px;

  display: flex;
  align-items: center;
  gap: 18px;
}

.play-icon {
  width: 55px;
  height: 55px;

  border-radius: 50%;

  background: #dff3db;
  color: #5c7b68;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  flex-shrink: 0;
}

.video-overlay span {
  color: white;
  font-size: 14px;
}


.method-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-item {
  display: flex;
  gap: 24px;

  margin-bottom: 42px;
}

.step-number {
  width: 56px;
  height: 56px;

  border-radius: 50%;

  background: #6d8b74;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;

  flex-shrink: 0;
}

.step-item h3 {
  font-size: 28px;
  margin-bottom: 12px;
}

.step-item p {
  line-height: 1.8;
  color: #333;
}

.method-btn {
  width: fit-content;

  background: #6d8b74;
  color: white;

  border: none;

  padding: 16px 34px;
  border-radius: 8px;

  cursor: pointer;
  font-weight: 600;
}



.pricing-section {
  width: 100%;
  padding: 100px 6%;
  background: #f7f7f5;
}

.pricing-header {
  text-align: center;
  margin-bottom: 70px;
}

.pricing-header h2 {
  font-size: 52px;
  line-height: 1.3;
}

.pricing-cards {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0;
  margin-bottom: 90px;
}

.pricing-card {
  width: 360px;

  border-radius: 12px;

  padding: 40px;
  position: relative;
}

.pricing-card.dark {
  background: #333333;
  color: white;
  
}

.pricing-card.featured {
  background: #6d8b74;
  color: white;

  transform: scale(1.08);
  position: relative;
  z-index: 5;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
}

.offer-badge {
  display: inline-block;

  background: #f7c948;
  color: #111;

  padding: 8px 14px;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 600;

  margin-bottom: 20px;
}

.pricing-card h3 {
  font-size: 28px;
  margin-bottom: 16px;
}

.pricing-card span {
  font-size: 14px;
  opacity: 0.8;
}

.pricing-card h1 {
  font-size: 62px;
  margin: 12px 0 18px;
}

.pricing-card p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.pricing-card button {
  width: 100%;

  border: none;
  padding: 16px;

  border-radius: 8px;

  background: #cfbc9c;
  color: #111;

  font-weight: 700;
  cursor: pointer;
}

.featured button {
  background: #dff3db;
}


.support-banner {
  position: relative;

  width: 80%;
  height: 620px;

  margin: 0 auto;
  margin-bottom: -140px;

  border-radius: 20px;
  overflow: hidden;

  z-index: 10;
}

.support-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  text-align: center;
}

.large {
  width: 90px;
  height: 90px;
  font-size: 38px;

  margin-bottom: 26px;
}

.support-overlay h3 {
  font-size: 48px;
  line-height: 1.3;
}



.contact-section {
  width: 100%;

  background: #cfbc9c;

  padding: 220px 6% 100px;

  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.contact-left,
.contact-right {
  width: 50%;
}

.dark-tag {
  background: #6d8b74;
}

.contact-left h2 {
  font-size: 56px;
  line-height: 1.2;

  margin: 24px 0;
}

.contact-left p {
  max-width: 520px;

  line-height: 1.9;
  color: #4d4d4d;
}

/* FORM */

.contact-right form {
  width: 100%;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  margin-bottom: 20px;
}

.contact-right input,
.contact-right textarea {
  width: 100%;

  border: none;
  border-radius: 6px;

  padding: 18px 20px;

  font-size: 14px;
  outline: none;
}

.contact-right textarea {
  height: 180px;
  resize: none;

  margin-bottom: 24px;
}

.contact-right button {
  background: #6d8b74;
  color: white;

  border: none;

  padding: 18px 34px;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}



@media (max-width: 1100px) {
  .method-section,
  .contact-section {
    flex-direction: column;
  }

  .method-left,
  .method-right,
  .contact-left,
  .contact-right {
    width: 100%;
  }

  .pricing-cards {
    flex-direction: column;
  }

  .pricing-card.featured {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .method-left h2,
  .pricing-header h2,
  .contact-left h2,
  .support-overlay h3 {
    font-size: 36px;
  }

  .step-item h3 {
    font-size: 22px;
  }

  .input-grid {
    grid-template-columns: 1fr;
  }

  .pricing-card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .method-section,
  .pricing-section,
  .contact-section {
    padding: 70px 20px;
  }

  .method-left h2,
  .pricing-header h2,
  .contact-left h2,
  .support-overlay h3 {
    font-size: 30px;
  }

  .step-item {
    flex-direction: column;
  }

  .support-banner {
    height: 320px;
  }
}