.btn-sobre-nos {
    background-color: #BAA888;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.40);

    width: 120px; /* 🔥 igualei */
    height: 35px;

    font-size: 12px;
    transition: all 0.3s ease;
    transform: scale(0.9);
}

.btn-sobre-nos:hover {
    background-color: #D8C7AD;
    transform: translateY(-1px) scale(1.0);
}

.btn-novo-projeto {
    background-color: #5F7D6A;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.40);

    width: 120px; /* 🔥 já estava certo */
    height: 35px;

    font-size: 12px;
    transition: all 0.3s ease;
    transform: scale(0.9);
}

.btn-novo-projeto:hover {
    background-color: #6f917d;
    transform: translateY(-1px) scale(1.0);
}