.conteiner-sobre-nos {
  width: 100%;
  min-height: 100vh;
  background: #749580;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 20px 80px;
  box-sizing: border-box;
}

.verde {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 35px;
}

.btn-e-escrita {
  background: #f05a3f;
  color: #fff;
  padding: 15px 24px;
  border-radius: 30px;
  font-weight: 600;
position: relative;
  top: -60px;
  display: inline-block;
}

.icone-btn-guia-krooq{
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
  left: 6px;
}

.titulo-krooq {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  max-width: 700px;
  position: relative;
  top: -50px;
}

.card-equipe {
  width: 1133px;
  max-width: 1200px;
  height: 550px;
  position: relative;
  top: -45px;
  border-radius: 100px;
  overflow: hidden;
}

.imagem-equipe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-equipe {
  position: absolute;
  top: 45%;
  left: 70px;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 750px;
}

.titulo-equipe {
  color: #fff;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 90px;
}

.descricao-equipe {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
  font-weight: 300;
}

.btn-krooq {
  position: absolute;
  right: 40px;
  bottom: 40px;
  background: #f05a3f;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 14px 28px;
  cursor: pointer;
  z-index: 2;
}

.missao-visao-valores {
  width: 100%;
  padding: 80px 20px 100px;
  background-image: url("../../assets/FundoSobreNos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-mvv {
  font-size: 2.2rem;
  color: #5F7D6A;
  margin-top: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.descricao-mvv {
  max-width: 700px;
  text-align: center;
  color: #797979;
  line-height: 1.7;
  margin-bottom: 90px;
}

.cards-mvv {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.ods-section {
  width: 100%;
  padding: 100px 20px;
  background: #c8b593;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-ods {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.descricao-ods {
  text-align: center;
  color: white;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 60px;
}

.cards-ods {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.fotos-da-equipe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.imagem-equipe-final {
  width: 100%;
  max-width: 1100px;
  border-radius: 30px;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {

  .conteiner-sobre-nos {
    padding: 80px 15px;
    margin-bottom: -150px;
  }

  .titulo-krooq {
    font-size: 1.6rem;
  }

  .card-equipe {
    width: 100%;
    height: 400px;
    border-radius: 30px;
    margin-bottom: 15px;
  }
  .tags-ods-8{
    position: relative;
    top: -1px !important;
  }

  .texto-equipe {
    left: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
  }

  .titulo-equipe {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  .descricao-equipe {
    font-size: 13px;
    max-width: 100%;
  }

   .btn-krooq {
    position: absolute;
    left: 50%;
    transform: translateX(10%);
    bottom: 20px;
    width: max-content;
    padding: 12px 20px;
    font-size: 14px;
  }
  .cards-mvv{
    gap: 35px;
    margin-bottom: -25px;
  }

  .card-mvv,
  .card-ods {
    width: 100%;
    max-width: 350px;
  }
  .ods-section{
    margin-bottom: -10px;
  }
  

  .topo-ods img {
    width: 150px;
    height: 150px;
  }
  
  .titulo-mvv{
    margin-top: -20px;
  }
  .titulo-ods{
    margin-top: -30px;
  }

  .titulo-mvv,
  .titulo-ods {
    font-size: 1.8rem;
  }

  .fotos-da-equipe {
    padding: 40px 15px;
  }

  .imagem-equipe-final {
    border-radius: 20px;
  }
}