.ContainerTarefasProfissional {
  height: 100vh;
  background-color: #54715e;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.AreaNavBarMensagens {
  position: absolute;
  top: 20px;
  left: 250px;
  z-index: 2;
}

.AreaTarefasResumo {
  position: absolute;
  top: 90px;
  left: 250px;
  z-index: 2;
}

.AreaCardsTarefas {
  position: absolute;
  top: 220px;
  left: 246px;

  bottom: 20px;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(4, 255px);
  column-gap: 25px;
  row-gap: 14px;

  align-content: start;
  grid-auto-rows: max-content;

  overflow-y: auto;
  overflow-x: hidden;

  padding-right: 10px;
  padding-bottom: 80px;
}

/* Scrollbar */

.AreaCardsTarefas::-webkit-scrollbar {
  width: 5px;
}

.AreaCardsTarefas::-webkit-scrollbar-track {
  background: transparent;
}

.AreaCardsTarefas::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.AreaCardsTarefas::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {

  .ContainerTarefasProfissional {
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .AreaNavBarMensagens {
    margin-left: -38%;
    top: 10px;
  }

  .AreaTarefasResumo {
    position: static;
    width: calc(100% - 30px);
    margin: 105px auto 20px;
    padding: 0;
  }
 .AreaCardsTarefas {
    position: static;
    width: 100%;
    padding: 0px 10px 30px;

    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;

    justify-items: center;

    overflow: visible;
  }
}


