
.conteiner-central-profissional {
  min-height: 100vh;
  background-color: #54715E;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.AreaPanoramaGeral {
  position: fixed;
  top: 59px;
  left: 240px;
  z-index: 2;
}
.AreaEvolucaoSemana {
  position: fixed;
  top: 59px;
  left: 596.5px;
  z-index: 2;
}

.AreaMetaMensal {
  position: fixed;
  top: 59px;
  left: 1050px;
  z-index: 5;
}
.AreaMetasGerais {
  position: fixed;
  top: 335px;
  left: 242px;
  z-index: 5;
}

.botão-transparente-geral {
    position: relative;
    bottom: 260px;
    left: 1040px;
}

.componentes-projetos-andamento {
    display: flex;
    gap: 30px;
    position: fixed;
    bottom: 0;
    left: 240px;
    width: 100%;

}

.card-completo p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.AreaProcessos {
  position: fixed;
  top: 373px;
  left: 572px;
  display: flex;
  gap: 20px;
}

.paragrafo-processos-central{
    color: #fff;
  position: relative;
  position: fixed;
  top: 340px;
  left: 573px;
}

@media (max-width: 768px) {

  .conteiner-central-profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 10px 30px;
    overflow-y: auto;

  }

  .AreaPanoramaGeral,
  .AreaEvolucaoSemana,
  .AreaMetaMensal,
  .AreaMetasGerais,
  .AreaProcessos,
  .componentes-projetos-andamento,
  .paragrafo-processos-central,
  .botão-transparente-geral {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    right: auto !important;
    margin: 0 auto;
    width: auto;
  }

  /* 1 - Evolução da Semana */
  .AreaEvolucaoSemana {
    order: 1;
    display: flex;
    justify-content: center;
  }

  /* 2 - Panorama Geral */
  .AreaPanoramaGeral {
    order: 2;
    display: flex;
    justify-content: center;
  }

  /* 3 - Metas Gerais */
  .AreaMetasGerais {
    order: 3;
    display: flex;
    justify-content: center;
  }

  /* 4 - Meta Mensal */
  .AreaMetaMensal {
    order: 4;
    display: flex;
    justify-content: center;
  }

  /* 5 - Projetos em Andamento */
  .componentes-projetos-andamento {
    order: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Título Processos */
  .paragrafo-processos-central {
    order: 6;
    text-align: center;
    color: white;
  }

  /* 6 - Processos */
  .AreaProcessos {
    order: 7;
    display: flex;
    align-items: center;
    gap: 15px;
  }

 .botão-transparente-geral {
    order: 8;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
}