
.conteiner-central-profissional {
    background-image: url("../../assets/FundoCentral.png");
}

.AreaMetaMensal {
  position: fixed;
  top: 65px;
  left: 1060px;
  z-index: 5;
}
.AreaMetasGerais {
  position: fixed;
  top: 360px;
  left: 240px;
  z-index: 5;
}

.botão-transparente-geral {
    position: relative;
    bottom: 260px;
    left: 1075px;
}

.componentes-projetos-andamento {
    display: flex;
    gap: 42.5px;
    position: fixed;
    bottom: 0;
    left: 240px;
    width: 100%;

}

.card-completo p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.AreaProcessos {
  position: fixed;
  top: 400px;
  left: 572px;
  display: flex;
  gap:45px;
}

.paragrafo-processos-central{
    color: #fff;
  position: relative;
  position: fixed;
  top: 364px;
  left: 573px;
}


