
.conteiner-central-profissional {
    background-image: url("../../assets/FundoCentral.png");
}

.botão-transparente-geral {
    position: relative;
    bottom: 275px;
    left: 1015px;
}

.componentes-projetos-andamento {
    display: flex;
    gap: 30px;
    position: fixed;
    bottom: 0;
    left: 18.5%;
    width: 100%;

}

.card-completo p {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}
.AreaProcessos {
  position: fixed;
  top: 49.8%;
  left: 566px;
  display: flex;
  gap: 10px;
}
.paragrafo-processos-central{
    color: #fff;
  position: relative;
  position: fixed;
  top: 283px;
  left: 569px;
}
