.container-agenda {
    position: relative;

    width: 100%;
    min-height: 100vh;

    padding: 2vh;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 30px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.painel-eventos {
    position: relative;
    z-index: 2;
    width: 420px;
    height: 80vh;
    max-height: 700px;
    border-radius: 30px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topo-eventos {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.topo-eventos h2 {
    font-size: 36px;

    color: black;
}

.botao-adicionar {
    width: 50px;
    height: 50px;

    border: none;

    border-radius: 50%;

    background: #8FB996;

    color: white;

    font-size: 30px;

    cursor: pointer;
}

.lista-eventos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.botao-voltar {
    position: absolute;

    top: 30px;
    left: 30px;

    width: 60px;
    height: 60px;

    border: none;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.25);

    backdrop-filter: blur(10px);

    color: #1f3527;

    font-size: 28px;

    cursor: pointer;

    transition: 0.2s;
}

.botao-voltar:hover {
    transform: scale(1.08);

    background: rgba(255, 255, 255, 0.35);
}

.overlay-voltar {
    position: absolute;

    inset: 0;

    z-index: 1;
}
.lado-direito {
    display: flex;

    flex-direction: column;

    gap: 20px;
}

.logo-krooq-agenda {
    width: 180px;

    align-self: flex-end;
}
@media (max-width: 1024px) {

    .container-agenda {
        flex-direction: column;

        justify-content: flex-start;

        padding-top: 50px;

        gap: 25px;
    }

    .logo-krooq-agenda {
        position: static;

        width: 150px;

        margin-top: 20px;
    }

}
@media (max-width: 768px) {

    .container-agenda {
        padding: 20px;
    }

    .painel-eventos {
        width: 100%;

        max-width: 500px;
          height: 80vh;
          max-height: 720px;

        padding: 20px;
    }

    .topo-eventos h2 {
        font-size: 28px;
    }

    .botao-adicionar {
        width: 45px;
        height: 45px;

        font-size: 26px;
    }

    .logo-krooq-agenda {
        width: 120px;
    }
    .container-calendario {
        height: auto;
        min-height: auto;
    }
    .container-agenda {
        align-items: stretch;
        justify-content: flex-start;
    }

    .painel-eventos {
        height: auto;
        max-height: none;
        padding: 0;
    }


}