.card-info {
  padding: 30px;
  min-height: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.card-info:last-child {
  border-right: none;
}

/* texto*/
.card-info h3 {
  font-size: 19px;
  margin-bottom: 10px;
  color: #5F7D6A;
  font-family: "Poppins", sans-serif;
}

.card-info p {
  font-size: 14px;
  line-height: 1.6;
  color: #5F7D6A;
  font-family: "Poppins", sans-serif;
}


/* 🔥 fundo card*/
.estudio {
  background-image: url("../../assets/CasaHome2.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 0.95;
}

@media (max-width: 600px) {

.card-info h3{
text-align: center;
}
.card-info p{

  text-align: center;
}
 .cards>*:nth-child(1),
  .cards>*:nth-child(2) {
    border: none !important;
    box-shadow: none !important;
  }
  .cards{

    gap: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1024px){
.cards>*:nth-child(1),
  .cards>*:nth-child(2) {
    border: none !important;
    box-shadow: none !important;
  }

}