.CentralHeaderGeral {
    width:77%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left: 18%;
    box-sizing:border-box;
    position: fixed;
    top: 22px;
}

.SaudacaoHeader {
    font-size:30px;
    font-weight:600;
    margin-right: 200px;
}

.AcoesHeader {
    display:flex;
    gap:20px;
}

.BuscaContainer {
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    overflow:hidden;
    border-radius:40px;
    transition:
    width 0.7s ease,
    background-color 0.38s ease,
    padding 0.7s ease;

}

.BuscaContainer.aberta {
    width:340px;
    background:#5F7D6A;
    padding-left:25px;
}

.CampoInput {
    flex:1;
    opacity:0;
    transform:translateX(25px);
    transition:
    opacity 0.28s ease,
    transform 0.35s ease;
}

.BuscaContainer.aberta .CampoInput {
    opacity:1;
    transform:translateX(0px);
}

.CampoInput input {
    width:95%;
    background:none;
    border:none;
    outline:none;
    color:white;
    font-size:18px;
    font-weight: 100;
    border-bottom:
    2px solid rgba(255,255,255,0.35);
    padding-bottom:2px;
}

.CampoInput input::placeholder {
    color:
    rgba(255,255,255,0.55);
}

.NotificacaoBotao,
.PerfilBotao {
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    flex-shrink:0;
    transition:0.25s;
}

.BuscaBotao {
    width:43px;
    height:43px;
    border:none;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    flex-shrink:0;
    transition:0.25s;
    background:white;
}

.NotificacaoBotao {
    background:#6B816D;
}

.PerfilBotao {
    overflow:hidden;
    background:none;
}

.BuscaBotao:hover,
.NotificacaoBotao:hover,
.PerfilBotao:hover {
    transform:scale(1.05);
}

.BuscaBotao img,
.NotificacaoBotao img {
    width:26px;
    height:26px;
}

.PerfilBotao img {
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}