.conteiner-projetos-andamento {
    width: 350px;
    height: 100px;
    min-height: 50px;
    background: #000000;
    border-radius: 18px;
    padding: 5px 15px;
    box-sizing: border-box;
    color: white;
    position: relative;
}

.topo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-top: -10px;

}

.topo-card h2 {
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -20px;
}

.circulo-progresso {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo-progresso::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #000000;
    border-radius: 50%;
}

.circulo-progresso span {
    position: relative;
    z-index: 2;
    font-size: 8px;
    color: white;
}


.topico-card-progresso-sub {
    font-size: 9px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1px;
    margin: 10px;
}

.topico-card-progresso-paragrafo {
    font-size: 11px;
    font-weight: 500;
    color: #FFFDFD;
    line-height: 1.5;
    margin: 10px;
    margin-top: -10px;
}
@media (max-width: 768px){
    .conteiner-projetos-andamento{
        width: 100%;
    }
}