.nav-menu-lateral {
  width: 16%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  border-radius: 0 25px 25px 0;
  
}

.layout-links-menu-lateral {
  width: 590%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-lateral {
  width: 170px;
margin-top: 20px;
  margin-bottom: 30px;
}

.layout-links-menu-lateral nav {
  width: 190px;
}

.layout-links-menu-lateral ul {
  list-style: none;
  width: 100%;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.layout-links-menu-lateral li {
  width: 100%;
}

.linkMenuCliente {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 14px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.linkMenuCliente img {
  width: 18px;
  height: 18px;

  object-fit: contain;

  transition: 0.3s;
}

/* ícone painel e krooq ia */

.icone-painel {
  width: 40px !important;
  height: 40px !important;
  margin-left: -10px;
  object-fit: contain;
}
.texto-painel{
  position: relative;
  left: -10px;

}
.imagem-krooq-ia{
 width: 40px !important;
  height: 40px !important;
  margin-left: -10px;
  object-fit: contain;
}
.texto-krooq-ia-painel{
 position: relative;
  left: -10px;
}

.linkMenuCliente span {
  color: black;
  font-size: 12px;
  font-weight: 600;

  transition: 0.3s;
}
.icone-sair-menu{
  color: #000;
}



/* houver */

.linkMenuCliente:hover {
  background-color:#7F9785;
}

.linkMenuCliente:hover span {
  color: white;
}

.linkMenuCliente:hover img {
  filter: brightness(0) invert(1);
}

/* ativo */

.linkMenuCliente.active {
  background-color: #54715E;
}

.linkMenuCliente.active span {
  color: white;
}

.linkMenuCliente.active img {
  filter: brightness(0) invert(1);
}
.menu-lateral-mobile {
  display: none;
}


@media (max-width: 768px) {

  .nav-menu-lateral {
    display: none;
  }

  .menu-lateral-mobile {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
  }

  .container-lateral {
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
  }

  .logo-lateral-mobile {
    width: 60px;
    height: 60px;
    display: block;
    object-fit: contain;
  }

  .menu-lateral {
    display: none;
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    width: 220px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  .menu-lateral.ativo {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .menu-lateral li {
    width: 100%;
  }

  .menu-lateral a {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    padding: 10px 12px;

    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;

    transition: 0.3s;
  }

  .icone-mobile {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  .icone-mobile-tamanho{
     width: 40px;
    height: 30px;
    position: relative;
    left: -10px;

  }
  .icone-mobile-tamanho-krooqia{
 width: 40px;
    height: 40px;
    position: relative;
    left: -10px;
    
  }
  .krooqia-alinhar{
position: relative;
top: -15px;

  }
.texto-krooqai-responsive{
  position: relative;
  right: 19px;
}


  .menu-lateral a:hover {
    background-color: #7F9785;
    color: white;
  }

  .menu-lateral a:hover img {
    filter: brightness(0) invert(1);
  }

  .menu-lateral a.active {
    background-color: #54715E;
    color: white;
  }

  .menu-lateral a.active img {
    filter: brightness(0) invert(1);
  }
}

.layout-links-menu-lateral {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-links-menu-lateral nav {
  height: 100%;
}

.layout-links-menu-lateral ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-voltar-home {
  margin-top: auto;
  margin-bottom: 24px;
}
