.galeria-home {
  width: 100%;
  background-color: #ffffff;
  padding: 40px 20px 70px;
  font-family: "Poppins", sans-serif;
}

.galeria-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.galeria-texto {
  margin-bottom: 22px;
}

.galeria-texto h1 {
  font-size: 32px;
  font-weight: 700;
  color: #2f5f44;
  margin-bottom: 8px;
}

.galeria-texto p {
   font-size: 15px;
  color: #5F7D6A;
  line-height: 1.6;
  max-width: 600px;

}

.galeria-imagem-box {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.galeria-imagem {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}