.container-calendario {
    width: min(500px, 100%);
    background: white;

    border-radius: 30px;

    padding: 25px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.topo-calendario {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.topo-calendario h2 {
    font-size: 28px;
    color: #1f3527;
}

.botoes-mes {
    display: flex;
    gap: 20px;
}

.botoes-mes button {
    border: none;

    background: transparent;

    font-size: 32px;

    cursor: pointer;
}

.linha-verde {
    width: 100%;
    height: 3px;

    background: #8FB996;
}

.dias-semana {
    display: grid;

    grid-template-columns: repeat(7, 1fr);

    text-align: center;

    font-size: 16px;
}

.grid-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: auto;
    min-height: auto;
    gap: 12px;
    justify-items: center;
    
}

.dia {
    width: 45px;
    height: 45px;

    border: none;

    border-radius: 50%;

    background: transparent;

    font-size: 20px;

    cursor: pointer;
}

.selecionado {
    background: #8FB996;


    color: white;
}
.espaco-vazio {
    width: 45px;
    height: 45px;
}
.conteudo-dia {
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    gap: 4px;
}

.pontinho-evento {
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: #8FB996;
}
@media (max-width: 500px) {

    .container-calendario {
        width: 100%;

        padding: 15px;
    }

    .topo-calendario h2 {
        font-size: 22px;
    }

    .dia {
        width: 35px;
        height: 35px;

        font-size: 16px;
    }

    .dias-semana {
        font-size: 14px;
    }

    .grid-dias {
        gap: 8px;

        min-height: 350px;
    }

}