.ContainerConsultoriaProfissionais {
  min-height: 100vh;
  background-color: #54715E;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.AreaNavBarMensagens {
  position: absolute;
  top: 20px;
  left: 250px;
  right: 20px;
  z-index: 3;
}

.AreaNavConsultoriaNovosClientes {
  position: absolute;
  top: 90px;
  left: 250px;
  z-index: 2;
}

.AreaNavConsultoriaModoChat {
  top: 15px;
}

.AreaCardsClientes {
  position: absolute;
  top: 215px;
  left: 285px;
  right: 25px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  z-index: 2;
}

.AreaChatClientes {
  position: absolute;
  top: 140px;
  left: 265px;

  display: flex;
  align-items: flex-start;
  gap: 15px;

  z-index: 2;
}

.AreaListaConversasClientes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 768px) {
  .ContainerConsultoriaProfissionais {
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .AreaNavBarMensagens {
    position: static;
    width: calc(100% - 30px);
    margin: 15px auto;
  }

  .AreaNavConsultoriaNovosClientes {
    position: static;
    width: calc(100% - 30px);
    margin: 20px auto;
  }

  .AreaCardsClientes,
  .AreaChatClientes {
    position: static;
    width: calc(100% - 30px);
    margin: 20px auto;
  }

  .AreaChatClientes {
    flex-direction: column;
    gap: 20px;
  }

  .AreaPainelChatProfissional {
    margin-top: 0;
  }
}