.Container-home {
  min-height: 100vh;
  background-image:
    url("../../assets/FundoHome1.png"),
    url("../../assets/FundoHome2.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat;
  position: relative;
  background-blend-mode: multiply;
  /*mescla*/
}

.alinhar {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);

}

.alinhar h1 {
  color: #5F7D6A;
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 500;

}

.alinhar p {
  color: #5F7D6A;
  font-size: 15px;
  margin-bottom: 10px;
}

.layoubtn {
  position: relative;
  right: 5px;
}

#container-paragrafo {
  position: absolute;
  top: 70% !important;
  transform: translateX(200%);
  max-width: 400px;
}

#container-paragrafo p {
  background-color: rgba(186, 168, 136, 0.8);
  color: white;
  padding: 20px 30px;
  border-radius: 20px;
  max-width: 650px;
  text-align: center;
  font-size: 13px;
  line-height: 1.6;
}

.cards-section {
  background-color: #fff;
  padding: 90px 8% 60px;
}

.titulo-cards {
  max-width: 850px;
  margin: 70px auto 100px;
  text-align: center;
  color: #5F7D6A;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}

.cards {
  display: flex;
  justify-content: center;
  max-width: 1050px;
  margin: 0 auto;
}

.grid-section {
  background: #cfc0a3;

}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* bloco */
.box {
  min-height: 230px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

/* remova bordas ex */
.grid .box:nth-child(3n) {
  border-right: none;
}

.grid .box:nth-last-child(-n + 3) {
  border-bottom: none;
}


.branco {
  background: #fff;
  opacity: 0.95;
  color: #5F7D6A;
}

.bege {
  background: #cfc0a3;
  color: #E35336;
}

.box h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.box p {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

/* img*/
.imagem {
  background-image: url("../../assets/CasaHome.png");
  background-size: cover;
  background-position: center;
}

.projetos-section {
  background: #cfc0a3;
  padding: 60px 8% 90px;

}

.header-projetos {
  max-width: 1050px;
  margin: 80px auto 40px;
  display: grid;
  grid-template-columns: 2px 1fr;
  column-gap: 40px;
  align-items: center;
  position: relative;
}

/* linha vertical */
.linha-projetos {
  width: 1px;
  height: 200px;
  background: #fff;
  position: absolute;
  left: 298px;
  top: -140px;
  /* ajusta posição */

}

/* linha horizontal de cima */
.header-projetos::before {
  content: "";
  position: absolute;
  top: -141px;
  left: 298px !important;
  width: 902px;
  height: 1px;
  background: #fff
}

/* texto */
.texto-projetos {
  min-width: 680px;
  justify-self: left;
  transform: translateX(60%);
  margin-top: -100px;
  margin-bottom: 50px;

}

.texto-projetos h2 {
  color: #5F7D6A;
  font-size: 24px;
  margin-bottom: 8px;
}

.texto-projetos p {
  color: #5F7D6A;
  font-size: 13px;
  line-height: 1.5;
}

.linha-decorativa {
  max-width: 900px;
  height: 50px;
  margin: 40px auto 60px;
  background: repeating-linear-gradient(-45deg,
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55) 2px,
      transparent 2px,
      transparent 7px);
}

.projeto-item {
  max-width: 1050px;
  margin: 0 auto 45px;
  display: grid;
  grid-template-columns: 120px 1fr 230px;
  gap: 30px;
  align-items: center;
  border-bottom: none;
  padding-bottom: 35px;

}

.projeto-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.numero-projeto h2 {
  font-size: 55px;
  color: #5F7D6A;
  margin-bottom: 10px;
  transform: translateY(-25px);

}

.numero-projeto p {
  color: #5F7D6A;
  font-size: 14px;
  line-height: 1.6;
  transform: translateY(-25px);
}

.projeto-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.descricao-projeto h3 {
  color: #5F7D6A;
  font-size: 20px;
  max-width: 100px;
  margin-bottom: 10px;
}

.descricao-projeto p {
  color: #5F7D6A;
  font-size: 14px;
  line-height: 1.5;
  max-width: 150px;
  margin-bottom: 22px;
}

.Casaalmeria {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.Casaalmeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Casaalmeria::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}


.overlay {
  position: absolute;
  left: 8%;
  bottom: 60px;
  max-width: 500px;
  color: white;
  z-index: 2;
}

.tag-home {
  display: flex;
  max-width: 150px;
  font-size: 10px;
  border-radius: 10px;
  border: 1px dashed white;
  opacity: 0.8;
  margin-bottom: 15px;
  padding: 10px 18px;
  text-align: center;
  justify-content: center;
}

.overlay h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 410px;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-left: -5px;
}

.btn1 {
  background: #E35336;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(0.9);

}
.destaque{
font-weight: bold;
}

.btn2 {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(0.95);
  transition: background 0.3s ease, color 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;
}

/*Estava mechendo o texto*/

.btn1:hover {
  transform: translateY(-2px) scale(1);
}


.btn2:hover {
  transform: translateY(-2px) scale(1);
}



.galeria-section {
  background: #f5f5f5;
  padding: 60px 0;
}


.galeria-header {
  max-width: 1050px;
  margin: 0 auto;
}


.galeria-header h2 {
  font-size: 30px;
  color: #5F7D6A;
  margin-bottom: 12px;
}

.galeria-header p {
  font-size: 15px;
  color: #5F7D6A;
  line-height: 1.6;
  max-width: 500px;
}



/* RResponsivo celular*/
@media (max-width: 600px) {

  .Container-home {
    min-height: 100vh;
    background-size: cover, cover;
    background-position: center top, center;

  }

  .alinhar {
    position: absolute;
    top: 22%;
    left: 20px;
    transform: none;
    max-width: calc(100% - 40px);
  }

  .alinhar h1 {
    font-size: 30px;
    line-height: 1.1;
  }

  .alinhar p {
    font-size: 13px;
  }

  .layoubtn {
    margin-top: 20px;
  }

  #container-paragrafo {
    position: absolute;
    top: 58%;
    left: 20px;
    transform: none;
    max-width: calc(100% - 40px);
    margin-top: 5px;
  }

  #container-paragrafo p {
    font-size: 12px;
    padding: 16px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .titulo-cards {
    margin-top: -5px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-section {
    margin-top: -40px;
  }

  .box {
    border-right: none;
    border-bottom: 1px solid white;
  }

  .grid .box:nth-last-child(3) {
    border-bottom: 1px solid white;
  }


  .linha-projetos {
    display: none;
  }

  .header-projetos::before {
    display: none;
  }

  .texto-projetos {
    min-width: 100px;
    transform: none;
    margin-top: 0;
    justify-self: center;
  }

  .texto-projetos h2,
  .texto-projetos p {
    text-align: center;
  }

  .header-projetos {
    margin-top: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .projeto-item {
    grid-template-columns: 1fr;

  }

  .projeto-item img {
    height: 300px;
  }

  .numero-projeto {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: -15px;
  }

  .numero-projeto h2,
  .numero-projeto p {
    transform: none;

  }

  .texto-projetos {
    transform: none;
    margin-top: 0;
  }

  .texto-projetos h2,
  .texto-projetos p {
    text-align: center;
  }

  .descricao-projeto p {
    max-width: 100%;
  }

  .Casaalmeria {
    height: 600px;
  }

  .Casaalmeria img {
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    left: 20px;
    right: 20px;
    bottom: 40px;
  }

  .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .btn1,
  .btn2 {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-align: center;
  }
}

/* Responsivo tablet */
@media (min-width: 601px) and (max-width: 1024px) {

  .Container-home {
    background-size: cover, cover;
    background-position: center, center;
  }

  .alinhar {
    top: 28%;
    left: 50px;
    max-width: 600px;
  }

  .alinhar h1 {
    font-size: 48px;
  }

  .alinhar p {
    font-size: 15px;
  }

  #container-paragrafo {
    top: 62%;
    left: 45%;
    transform: translateX(0);
    max-width: 360px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid .box:nth-child(1),
  .grid .box:nth-child(3) {
    border-right: 1px solid white !important;
  }

  .header-projetos::before {
    position: absolute;
    left: -80px !important;
    width: 768px;


  }

  .linha-projetos {
    display: none;
  }

  .header-projetos {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;

  }

  .texto-projetos {
    max-width: 700px;
    width: 100%;

    transform: none;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 30px;
    box-sizing: border-box;
  }

  .texto-projetos h2,
  .texto-projetos p {
    text-align: center;
    max-width: 100%;
  }

  .projeto-item {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .projeto-item img {
    height: 380px;
  }

  .numero-projeto {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .numero-projeto h2,
  .numero-projeto p {
    transform: none;
  }

  .texto-projetos {
    max-width: 100%;
    width: 100%;
    transform: none;
    margin-top: 0;
    text-align: center;
  }

  .descricao-projeto p {
    max-width: 100%;
  }

  .Casaalmeria {
    height: 700px;
  }

  .overlay {
    left: 40px;
    right: 40px;
  }

  .btn1,
  .btn2 {
    width: 200px;
    margin-left: -7px;
  }
}


/* Responsivo computador grande*/
@media (min-width: 1025px) and (max-width: 1280px) {

  .Container-home {
    background-size: cover, cover;
    background-position: center, center;
  }

  .alinhar {
    left: 130px;
  }

  .alinhar h1 {
    font-size: 74px;
  }

  .alinhar p {
    font-size: 17px;
  }

  #container-paragrafo {
    position: absolute;
    left: 750px;
    transform: none;
    max-width: 480px;
  }

  #container-paragrafo p {
    font-size: 15px;
    padding: 24px 34px;
  }

  .cards {
    gap: 35px;
    max-width: 1350px;
  }



  .grid {
    max-width: 1450px;
    margin: 0 auto;
  }

  .projeto-item {
    max-width: 1300px;
    grid-template-columns: 170px 1fr 320px;
    gap: 45px;
  }

  .projeto-item img {
    height: 500px;
  }

  .descricao-projeto p {
    max-width: 280px;
  }

  .Casaalmeria {
    height: 850px;
  }

  .overlay {
    left: 10%;
    bottom: 80px;
  }

  .overlay h2 {
    font-size: 54px;
  }

  .overlay p {
    font-size: 16px;
  }

  .header-projetos {
    grid-template-columns: 1fr;
  }

  .linha-projetos {
    display: none;
  }

  .texto-projetos {
    transform: none;
  }

  .texto-projetos h2 {
    text-align: center;
  }

  .texto-projetos p {
    text-align: center;

  }

  .header-projetos::before {
    content: "";
    position: absolute;
    left: 305px !important;
    width: 855px;
  }


}